{% include 'incl/header.twig' %}

<body>
    <div class="technologies-page" role="main">
        <div class="box-title">
            {{ content }}
        </div>
        
        {% for tech in meta.techs %}
            <div class="box{{ tech.class }}">
                <a href="{{ base_url }}/technology/{{ tech.class }}">{{ tech.class }}</a>
            </div>
            
        {% endfor %}
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
